
:root {
    --background: white;
    --primary-dark: #3700B3;
    --primary-light: #6200EE;
    --secondary: #03DAC5;
    --card-radius: 10px;
    --speaker-image-max-height: 360px;
    font-family: Roboto, sans-serif
}

body {
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
    margin: 0;
    background-color: var(--background);
    /*-ms-overflow-style: none;*/
}

/*body::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

.app {
    display: flex;
    flex-direction: column;
}

.side-a {
    display: grid;
    height: 75vh;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
    grid-template-columns: 5fr 0.5fr 5fr 5fr 5fr 0.5fr 5fr 0.5fr 5fr;
    grid-template-rows: 4rem 2rem 1fr 2rem ;
    grid-template-areas:
            ".          .           header      header      header      header      header      header      ."
            ".          .           mt          .           .           .           ut          .           ."
            ".          .           m           m           m           .           u           .           ."
            ".          qt          qt          .           .           .           .           .           .";

}

.headline-centered {
    display: flex;
    align-items: center;
}

.header-background {
    background-color: var(--primary-dark);
    grid-area: 1 / 1 / 2 / -1;
}

.header {
    grid-area: header;
    vertical-align: center;
    color: white;
}

.main-speaker-title {
    grid-area: mt;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card__media {
    flex: 2;
    border-radius: var(--card-radius) var(--card-radius) 0 0;
    background: url("https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2018/04/topographic_view_of_ismenia_patera/17448390-1-eng-GB/Topographic_view_of_Ismenia_Patera_article.jpg") bottom no-repeat;
}
.card__title {
    flex: 1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-speaker-container {
    grid-area: m;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-speaker {
    width: 21.6rem;
    height: 18rem;
}

.up-next-title {
    grid-area: ut;
}

.up-next-speaker {
    place-self: center;
    width: 9.6rem;
    height: 8rem;
}

.up-next-container {
    grid-area: u;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
}

.queued-title {
    grid-area: qt;
}

.side-b {
    display: grid;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
    grid-template-columns: 3fr 0.5fr 5fr 5fr 5fr 0.5fr 5fr 0.5fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: ".          .           q           q           q           q           q           .           .";
}

.queued-container {
    grid-area: q;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0.4rem;
}

.queued-speaker {
    margin: 0 0.2rem 0.4rem 0.2rem;
    width: 9.6rem;
    height: 8rem;
}

@media (max-width: 700px) {
    .side-a {
        height: 80vh;
        grid-row-gap: 0;
        grid-column-gap: 0;
        grid-template-columns: 1fr 0.5fr 5fr 5fr 0.5fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 3fr 0.5fr 3fr 0.5fr;
        grid-template-areas: ".      .      header      header      header   ." ".      .      mt          .           .        ." ".      .      m           m           .        ." ".      .      ut          .           .        ." ".      .      u           u           .        ." ".      .      qt          .           .        .";
    }

    .side-b {
        grid-row-gap: 0;
        grid-column-gap: 0;
        grid-template-columns: 1fr 0.5fr 5fr 5fr 0.5fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: ".      .      q           q           .        .";
    }
}

.fab {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0.2rem;
    right: 0.3rem;
}

.circle {
    user-select: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
    border-radius: 50%;
    margin: 0 0.5rem 0.5rem 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2em;
    font-weight: bolder;
}
